@page "/chat/{ServerId}/{ChannelId}"
@using System.Threading.Channels
@using iChat.Client.DTOs.Chat
@using iChat.Client.Pages.Component
@using iChat.Client.Services.UserServices
@using iChat.Client.Services.UserServices.Chat
@using iChat.Client.Services.UserServices.SignalR
@using iChat.DTOs.Users.Messages

@inject ChatMessageCacheService MessageManager
@inject ChatSignalRClientService ChatService
@inject UserStateService _userInfo
@inject ChatNavigationService _ServerCacheManager
@inject NavigationManager _navigation
@inject UserMetadataService _userMetadataService
@inject iChat.Client.Services.Auth.JwtAuthHandler _https
@inject MessageHandleService _messageHandleService

@inject IJSRuntime JS
@implements IDisposable
@implements IAsyncDisposable

<div class="chat-layout" @onclick="HideContextMenu" @onkeydown="HandleEscapeKey">
    <div class="chat-container">
        <div class="chat-header d-flex justify-between align-center">
            <!-- Left Chat Panel -->
            <div class="left-header d-flex align-center">
                <h3>Room: @_currentChannel.Name</h3>
   @*              <div>@($"There is {_myCount} people typing")</div> *@

            </div>
            <!-- Right Chat Panel-->
            <div class="right-header">
                <button class="icon-button" title="Search" @onclick="ToggleSearchSidebar">
                    <i class="fas fa-search"></i>
                </button>
            </div>
        </div>




        <div class="messages-container" @ref="_messagesContainer" @onscroll="HandleScroll">
            <Virtualize Items="@_renderedMessages" Context="item" OverscanCount="20">
                <div class="message-row @(item.GroupCount == 0 ? "with-header" : "no-header")"
                     id="message-@item.Message.Id"
                     @key="item"
                     @oncontextmenu="(e) => ShowContextMenu(e, item.Message)"
                     @oncontextmenu:preventDefault>

                    @if (item.GroupCount == 0)
                    {
                        <img class="avatar" src="@item.User.AvatarUrl" />
                    }

                    <div class="message-body @(item.GroupCount == 0 ? "" : "message-body-continuation")">
                        @if (item.GroupCount == 0)
                        {
                            <div class="message-meta">
                                <span class="username">@item.User.DisplayName</span>
                                <span class="timestamp">@item.Message.CreatedAt.LocalDateTime.ToString("g")</span>
                            </div>
                        }

                        <div class="message-content">
                            @if (item.Message.IsDeleted)
                            {
                                <span class="deleted-text">@RenderedMessage.DeleteMessage</span>
                            }
                            else if (item.Message.IsEdited)
                            {
                                <span class="edited-inline">
                                    @((MarkupString)item.Message.Content)
                                    <span class="edited-badge">(edited)</span>
                                </span>
                            }
                            else
                            {
                                <div class="regular-content">
                                    @((MarkupString)item.Content)
                                </div>
                            }
                        </div>
                    </div>
                </div>
            </Virtualize>
        </div>


        @if (_showContextMenu)
        {
            <div class="context-menu" style="@_contextMenuStyle" @onclick:stopPropagation="true">
                <div class="context-item" @onclick="CopyMessageId">
                    <i class="fas fa-copy"></i> Copy Message ID
                </div>
                <div class="context-item" @onclick="ScrollToContextMessage">
                    <i class="fas fa-location-arrow"></i> Scroll to Message
                </div>
                @if (_contextMenuMessage.SenderId.ToString() == _currentUserId&&_contextMenuMessage.MessageType!=2)
                {
                    <div class="context-item" @onclick="BeginEditMessage">
                        <i class="fas fa-pen"></i> Edit Message
                    </div>
                }
                @if ((!_contextMenuMessage.IsDeleted)&&(_currentServer.isadmin||_contextMenuMessage.SenderId.ToString()==_currentUserId))
                {
                    <div class="context-item danger" @onclick="DeleteMessage">
                        <i class="fas fa-trash-alt"></i> Delete Message
                    </div>
                }

            </div>
        }
        <div class="mention-wrapper">
        <div class="message-input d-flex align-center">
                <input @ref="inputEl"
                       type="text"
                       value="@_newMessage"
                       @onkeydown="HandleKeyDown"
                       @onkeydown:preventDefault="@_preventDefault"
                       @oninput="HandleInput"
                       placeholder="Type your message..."
                       class="mention-input" />
                @if (_showDropdown)
                {
                    <ul class="mention-list"
                        style="position: absolute; top:@($"{- _results.Count * 36}px"); left:@($"{_dropdownLeft+5}px");">
                        @foreach (var result in _results)
                        {
                            <li class="@(result == _results[_highlight] ? "highlight" : null)"
                                @onmousedown="() => Select(result.UserId)">
                                @result.DisplayName
                            </li>
                        }
                    </ul>
                }
            <label class="upload-icon icon-button" title="Upload Image" @onclick="TriggerFileInput">
                <i class="fas fa-image"></i>
            </label>
            <InputFile @ref="_fileInputRef"
                       OnChange="HandleFileUpload"
                       accept="image/*"
                       style="display: none;" />
            <button @onclick="SendMessage">Send</button>
        </div>
        <ListUserTypingTab @ref="_typingTab"></ListUserTypingTab>
    </div>
    </div>
    <!-- Right Sidebar: Online Users or Search -->
    <div class="sidebar">
        @if (_showSearchSidebar)
        {
                    <div class="search-sidebar scrollable">
                        <input type="text"
                               class="search-input"
                               @bind="_searchQuery"
                               @bind:event="oninput"
                               @onkeypress="HandleSearchKeyPress"
                               placeholder="Search..." />

                        <div class="search-options-compact">
                            <div class="option-row-compact">
                                <label for="before">Before:</label>
                                <input type="date" id="before" @bind="_searchBefore" />
                            </div>
                            <div class="option-row-compact">
                                <label for="after">After:</label>
                                <input type="date" id="after" @bind="_searchAfter" />
                            </div>
                            <div class="option-row-compact">
                                <label for="channel">In:</label>
                                <select id="channel" @bind="_searchChannelId">
                                    <option value="">All Channels</option>
                                    @foreach (var channel in _currentServer.Channels)
                                    {
                                        <option value="@channel.Id">@channel.Name</option>
                                    }
                                </select>
                            </div>
                        </div>

                        @if (true)
                        {
                            @if (_searchResults.Count == 0)
                            {
                                <p><em>Press Enter to Search</em></p>
                            }
                            else
                            {
                                @foreach (var msg in _searchResults)
                                {
                                    var userMeta = _userMetadataService.GetUserByIdAsync(long.Parse(msg.SenderId));
                                    <div class="search_result_container">
                                    <div class="message compact">
                                        <img class="avatar search" src="@userMeta.AvatarUrl" alt="avatar" />
                                        <div>
                                            <div class="chat-message-meta">
                                                <span class="username">@userMeta.DisplayName</span>
                                                <span class="timestamp compact">@msg.CreatedAt.LocalDateTime.ToString("g")</span>
                                            </div>
                                            <div class="message-content">@msg.Content</div>
                                        </div>
                                    </div>
                                </div>
                                }


                                <div class="pagination">
                                    <button class="page-btn" @onclick="() => TriggerSearchAsync(_currentSearchPage - 1)" disabled="@(_currentSearchPage == 1)">Prev</button>

                                    @for (int i = 1; i <= _totalSearchPages; i++)
                                    {
                                        <button class="page-btn @(i == _currentSearchPage ? "active" : "")"
                                                @onclick="@(() => TriggerSearchAsync(i))">
                                            @i
                                        </button>
                                    }

                                    <button class="page-btn" @onclick="() => TriggerSearchAsync(_currentSearchPage + 1)" disabled="@(_currentSearchPage == _totalSearchPages)">Next</button>
                                </div>
                            }
                        }
                    </div>



          
        }

        else
        {
        }
        <div class="@(!_showSearchSidebar ? "" : "hidden")">
            <OnlineUserList @ref="_userList" />
        </div>


    </div>
</div>
