
@* <CascadingAuthenticationState> *@
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">

        @if (routeData.PageType.IsDefined(typeof(AllowAnonymousAttribute), inherit: true))
        {
            <LoginRedirect>
            <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </LoginRedirect>
        }
        else
        {
            <UserInfoLoader>
                <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
            </UserInfoLoader>
        }


        </Found>
        <NotFound>
            <p>Page not found.</p>
        </NotFound>
    </Router>
@* </CascadingAuthenticationState> *@
